<h1>Songs</h1>

<% @songs.each do |song| %>
  <p> <a href=/songs/<%=song.id%>> <%= song.name %>  -  <%= song.artist %> </a> </p>
<% end %>
<hr>
<h2> <a href=/songs/new>Add a new song</a> </h2>
<hr>
<h2> <a href=/users/new>Add a new user</a> </h2>
